<div class="main-content">
  <section class="section">
    <div class="section-header">
      <h1>Add Bill</h1>
    </div>
    <div class="row">
      <div class="col-12 col-md-10">
        <div class="card">
          <div class="card-header">
            <h4>Add Bill</h4>
          </div>
          <div class="card-body">
            <%= simple_form_for(@bill, url: manage_bills_path) do |f| %>
              <%= f.input :collection_id, as: :select, required: true, collection: Billplz::Collection.all%>
              <%= f.input :email, required: true %>
              <%= f.input :name, required: true %>
              <%= f.input :amount, required: true %>
              <%= f.input :description, required: true %>
              <div class="card-footer text-right">
                <%= f.button :submit, class: 'btn btn-primary'%>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>