<!DOCTYPE html>
<html lang="en">
<head>
  <%= render :partial => "/layouts/head" %>
</head>
  <body>
      <div id="app">
        <div class="main-wrapper">
          <%= render :partial => "/layouts/nav.html.erb" %>
          <%= render :partial => "/layouts/sidebar.html.erb" %>
          <%= render :partial => "/layouts/notification.html.erb" %>
          <div class="full_page">
            <%= yield %>
          </div>
          <%= render :partial => "/layouts/footer.html.erb" %>
        </div>
      </div>
  </body>
</html>
